@media (max-width: 768px) {
    .menu {
        gap: 8px;
    }
}
@media (max-width: 600px) {
    .menu {
        gap: 4px;
    }
    iframe {
        width: 300px;
        height: 200px;
    }
}
