* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    background-color: #F0F8FF;
    min-height: 100vh;
}
header {
    top: 0;
    position: sticky;
    background-color: #ADD8E6;
    padding: 10px 0;
    text-align: center
}
header img {
  height: 90px;
}
.menu {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
}
.menu h1{
    font-size: 28px;
    color: white;
}
.menu a {
    font-size: 20px;
    color: black;
    text-decoration: none;
    font-style: italic;
}
.menu a:hover {
    font-weight: bold;
}
.int a {
    font-size: 16px;
    color: black;
    text-decoration: none;
    font-style: italic;
}
.int a:hover {
    font-weight: bold;
}
header .search-bar {
    text-align: center;
    margin-top: 0.5rem;
    padding: 0.4rem;
    border-radius: 4px;
    border: none;
}
.sobre img {
    width: 800px;
    height: 500px;
    margin-bottom: 20px;
}
.sobre {
    text-align: center;
}
.sobre h1 {
    margin: 10px 10px
}
.sobre p {
    margin: 0 auto;
    width: 65%;
    margin-bottom: 20px;
}
.sobre li {
    list-style: none;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 15px;
    width: 200px;
    text-align: center;
}
.sobre ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}
.integrantes {
    margin-bottom: 15px;
    text-align: center;
}
.integrantes h2 {
    font-size: 26px;
}
.integrantes p {
    margin: o auto;
    width: 65%;
}
.integrantes a {
    font-size: 20px;
    color: black;
    text-decoration: none;
}
.integrantes a:hover {
    text-decoration: underline;
}
.avatar {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 80px;
    height: 80px;
    cursor: pointer;
    z-index: 1000;
}

.avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
main {
    flex: 1;
}
footer {
    color: black;
    padding: 20px;
    text-align: center;
    background-color: #ADD8E6;
}
